input, textarea{
    width: 400px;
}
.playwrite-au-vic-guides-regular {
    font-family: "Playwrite AU VIC Guides", serif;
    font-weight: 400;
    font-style: normal;
  }
  .active{
    border-bottom: 3px solid green;
  }
  .rubik-whole-blog {
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  